*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width: 100px;
  --height: 100px;
  --primary: #f1f3f6;
  --body: #24a1de;
  --borderRadius: 50%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  width: 90%;
  max-width: 600px;
  text-align: center;
  padding: 20px;
  background-color: var(--body);
}

.title {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.center-image {
  width: 100%;
  height: auto;
  max-width: 300px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 5rem; /* Adjust the margin as needed */
}

.micro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: var(--height);
  background-color: var(--primary);
  border-radius: var(--borderRadius);
  margin: 0 auto;
}

.micro:before,
.micro:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 3px var(--primary);
  border-radius: var(--borderRadius);
}

.micro:before {
  animation: ripple 2s linear infinite;
}

.micro:after {
  animation: ripple 2s 1s linear infinite;
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .micro {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .micro {
    width: 60px;
    height: 60px;
  }
}
